<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobdeve.s18.verify">


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.VerifiApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Verify"
        tools:targetApi="31">

        <activity
            android:name=".controller.Homepage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".controller.Login" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controller.ForgotPassword" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controller.AdminDashboardActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controller.Register" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controller.EmployeeDashboard" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controller.ManageUser" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controller.Settings" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controller.AdminSettings" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controller.AddUser" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".controller.ChangePassword" />
        <activity android:name=".controller.AdminChangePassword" />

        <activity android:name=".controller.UserCamera" />
        <activity android:name=".controller.SubmissionHistory" />

    </application>

</manifest>
